<h1>This is Index</h1>

<ul>
	<li><a href="wap">Wap</a></li>
	<li><a href="admin/softwares">Softwares</a></li>
	<li><a href="admin/mobile_types">手机类型</a></li>
	<li><a href="admin/software_types">软件类型</a></li>
	<li><a href="admin/photos">图片上传</a></li>
	<li><a href="admin/upload">文件上传</a></li>
	<li><a href="admin/downfiles">软件包</a></li>
</ul>
